@model IEnumerable<DIS6225_FinalProject_MVC.Models.Location>

@{
    ViewData["Title"] = "Locations";
}

@section Styles {
    <link rel="stylesheet" href="~/css/main.css" />
}

<div class="header-container">
    <h1>Locations</h1>
    <p class="cta-button">
        <a asp-action="Create">Create New</a>
    </p>
</div>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                 @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LocationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LocationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LocationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br />
