@model IEnumerable<DIS6225_FinalProject_MVC.Models.Review>

@{
    ViewData["Title"] = "Reviews";
}

@section Styles {
    <link rel="stylesheet" href="~/css/main.css" />
}

<h1>Reviews</h1>
<br />

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePosted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePosted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReviewID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReviewID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReviewID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
